In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

data= pd .read_csv('student-scores.csv')
data.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [3]:
print(data.columns)

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'part_time_job',
       'absence_days', 'extracurricular_activities', 'weekly_self_study_hours',
       'career_aspiration', 'math_score', 'history_score', 'physics_score',
       'chemistry_score', 'biology_score', 'english_score', 'geography_score'],
      dtype='object')

In [4]:
X = data[['weekly_self_study_hours']]
y = data['math_score']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Predicted Scores:", y_pred)

Predicted Scores: [83.85494696 76.10302204 82.56295948 77.82567203 76.53368454 77.82567203
 82.13229698 89.45355941 76.53368454 77.39500953 84.71627195 77.82567203
 77.82567203 90.3148844  84.71627195 82.13229698 76.10302204 86.86958443
 88.16157192 85.14693445 85.14693445 83.42428447 84.71627195 90.3148844
 87.30024693 77.82567203 92.03753438 77.82567203 85.14693445 83.85494696
 81.70163449 81.70163449 88.59223441 76.10302204 82.56295948 81.27097199
 77.82567203 81.27097199 87.73090942 90.74554689 79.54832201 89.45355941
 87.73090942 86.86958443 86.43892194 81.70163449 87.30024693 82.13229698
 82.13229698 86.00825944 76.96434704 86.43892194 77.39500953 77.39500953
 87.30024693 87.73090942 86.86958443 76.53368454 79.11765951 88.59223441
 80.409647   76.96434704 76.10302204 87.73090942 79.11765951 80.409647
 77.82567203 80.84030949 76.53368454 76.10302204 86.00825944 76.96434704
 90.3148844  87.73090942 81.27097199 77.39500953 97.20548433 76.10302204
 76.53368454 86.43892194 85.14693445 77.82567203 76.10302204 77.39500953
 75.67235955 82.13229698 84.28560946 82.13229698 90.3148844  89.02289691
 82.99362197 76.96434704 93.32952187 76.53368454 79.54832201 90.74554689
 86.86958443 82.99362197 84.71627195 79.11765951 89.02289691 95.91349684
 89.8842219  89.02289691 84.28560946 86.00825944 76.10302204 81.70163449
 77.39500953 95.91349684 79.11765951 90.74554689 87.73090942 84.71627195
 80.409647   85.14693445 77.82567203 77.39500953 81.70163449 90.74554689
 87.30024693 77.39500953 80.84030949 89.02289691 75.67235955 82.13229698
 77.39500953 80.409647   86.00825944 80.409647   80.84030949 93.32952187
 90.74554689 87.73090942 84.28560946 87.73090942 77.82567203 79.9789845
 78.68699702 77.39500953 85.14693445 79.54832201 76.10302204 75.67235955
 82.99362197 88.59223441 92.46819687 83.42428447 82.56295948 81.27097199
 90.74554689 88.59223441 90.74554689 78.68699702 94.19084686 78.25633452
 76.96434704 79.54832201 82.56295948 88.16157192 82.56295948 86.43892194
 81.27097199 76.53368454 80.409647   88.16157192 83.85494696 76.53368454
 89.45355941 82.99362197 87.73090942 77.39500953 89.8842219  83.85494696
 81.70163449 89.8842219  87.73090942 86.00825944 82.13229698 76.53368454
 86.86958443 89.02289691 81.70163449 84.28560946 85.57759695 82.99362197
 82.99362197 84.71627195 76.10302204 87.73090942 77.82567203 76.96434704
 88.16157192 82.99362197 81.70163449 89.45355941 89.45355941 76.10302204
 81.70163449 87.30024693 90.74554689 86.43892194 89.8842219  77.82567203
 77.39500953 86.00825944 77.39500953 87.73090942 90.74554689 76.10302204
 75.67235955 90.3148844  82.56295948 86.86958443 82.56295948 83.42428447
 76.53368454 79.9789845  88.59223441 86.86958443 90.3148844  84.71627195
 76.96434704 87.73090942 90.74554689 78.25633452 79.9789845  77.39500953
 80.409647   76.53368454 81.70163449 76.53368454 89.02289691 85.57759695
 85.57759695 83.42428447 77.82567203 76.10302204 81.70163449 78.68699702
 77.82567203 76.53368454 89.45355941 77.39500953 84.28560946 86.00825944
 76.96434704 76.10302204 75.67235955 82.13229698 76.96434704 90.3148844
 89.02289691 79.9789845  88.59223441 78.68699702 76.10302204 86.00825944
 81.70163449 87.30024693 90.3148844  87.73090942 88.59223441 79.9789845
 84.71627195 76.96434704 77.82567203 94.62150935 84.71627195 83.42428447
 88.16157192 77.82567203 89.8842219  88.16157192 76.53368454 94.19084686
 77.39500953 77.39500953 77.39500953 87.30024693 77.82567203 84.28560946
 89.02289691 89.45355941 81.27097199 85.57759695 76.53368454 76.96434704
 76.96434704 89.8842219  76.96434704 75.67235955 81.70163449 89.8842219
 76.53368454 85.14693445 77.82567203 95.48283434 76.96434704 75.67235955
 89.02289691 86.00825944 85.14693445 76.96434704 76.53368454 90.74554689
 79.54832201 81.70163449 88.59223441 81.70163449 77.82567203 81.70163449
 76.96434704 75.67235955 89.02289691 87.73090942 90.74554689 75.67235955
 86.00825944 96.34415933 76.96434704 86.43892194 79.54832201 80.84030949
 81.70163449 90.74554689 90.74554689 82.56295948 76.96434704 84.71627195
 86.00825944 78.25633452 86.43892194 76.10302204 89.45355941 88.16157192
 88.59223441 76.53368454 76.10302204 90.74554689 83.85494696 80.409647
 76.96434704 80.409647   76.96434704 86.86958443 82.13229698 79.11765951
 80.409647   86.86958443 84.28560946 76.96434704 90.3148844  76.96434704
 95.91349684 85.57759695 77.82567203 83.42428447 87.30024693 80.409647
 76.53368454 81.27097199 79.9789845  88.59223441 76.53368454 78.68699702
 89.45355941 86.43892194 80.84030949 82.13229698 80.84030949 91.60687188
 79.11765951 86.86958443 84.71627195 86.43892194 76.53368454 87.30024693
 76.96434704 87.30024693 81.27097199 84.71627195 82.13229698 86.86958443
 76.10302204 89.8842219  80.409647   90.74554689 77.39500953 96.34415933
 94.19084686 80.84030949 86.43892194 86.43892194 75.67235955 81.70163449
 82.13229698 90.74554689 76.53368454 77.82567203]

In [6]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import numpy as np
r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print("RMSE:", rmse)
print("MAE:", mae)

R² Score: 0.16212713007562618
RMSE: 11.791563752847575
MAE: 9.498238611735836

In [ ]:
data.isnull()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
print ("Missing values in every column:",data.isnull().sum())

Missing values in every column: id                            0
first_name                    0
last_name                     0
email                         0
gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 0
chemistry_score               0
biology_score                 0
english_score                 0
geography_score               0
dtype: int64

In [ ]:
data.dropna()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [ ]:
data.fillna(13)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91,69,83,93,100

In [ ]:
data.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [ ]:
data['math_score'] = data['math_score'].astype(int)

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import numpy as np

r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

mae = mean_absolute_error(y_test, y_pred)
print("MAE:", mae)

ValueError: Found input variables with inconsistent numbers of samples: [200, 400]