In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix     
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pickle

In [3]:
df= pd.read_csv("q_quora.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_5528\2477138524.py:1: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("q_quora.csv")

In [4]:
df.head(5)

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.tail(8)

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
404343,404343,789786,789787,How does a long distance relationship work?,How are long distance relationships maintained?,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404344,404344,789788,789789,What do you think of the removal of the MagSaf...,What will the CPU upgrade to the 2016 Apple Ma...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404345,404345,789790,789791,What does Jainism say about homosexuality?,What does Jainism say about Gays and Homosexua...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404346,404346,789792,789793,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404347,404347,789794,789795,Do you believe there is life after death?,Is it true that there is life after death?,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404348,404348,789796,789797,What is one coin?,What's this coin?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404349,404349,789798,789799,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404350,404350,789800,789801,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print("Number of rows:",df.shape[0],"and Number of colums:",df.shape[1])

Number of rows: 404351 and Number of colums: 13

In [6]:
df.isnull()

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,False,False,False,False,False,False,True,True,True,True,True,True,True
1,False,False,False,False,False,False,True,True,True,True,True,True,True
2,False,False,False,False,False,False,True,True,True,True,True,True,True
3,False,False,False,False,False,False,True,True,True,True,True,True,True
4,False,False,False,False,False,False,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404346,False,False,False,False,False,False,True,True,True,True,True,True,True
404347,False,False,False,False,False,False,True,True,True,True,True,True,True
404348,False,False,False,False,False,False,True,True,True,True,True,True,True
404349,False,False,False,False,False,False,True,True,True,True,True,True,True
404350,False,False,False,False,False,False,True,True,True,True,True,True,True

In [8]:
df.columns

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [9]:
df.count()

id              404351
qid1            404351
qid2            404351
question1       404350
question2       404349
is_duplicate    404351
Unnamed: 6         337
Unnamed: 7          27
Unnamed: 8           8
Unnamed: 9           3
Unnamed: 10          2
Unnamed: 11          2
Unnamed: 12          2
dtype: int64

In [10]:
df.describe()

                  id           qid1           qid2  Unnamed: 12
count  404351.000000  404351.000000  404351.000000          2.0
mean   202175.000000  391840.987691  390195.973765          0.0
std    116726.223686  228430.857607  228803.645742          0.0
min         0.000000       1.000000       2.000000          0.0
25%    101087.500000  193381.000000  191012.000000          0.0
50%    202175.000000  390630.000000  388364.000000          0.0
75%    303262.500000  589514.000000  588071.000000          0.0
max    404350.000000  789800.000000  789801.000000          0.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404351 non-null  int64
 1   qid1          404351 non-null  int64
 2   qid2          404351 non-null  int64
 3   question1     404350 non-null  object
 4   question2     404349 non-null  object
 5   is_duplicate  404351 non-null  object
 6   Unnamed: 6    337 non-null     object
 7   Unnamed: 7    27 non-null      object
 8   Unnamed: 8    8 non-null       object
 9   Unnamed: 9    3 non-null       object
 10  Unnamed: 10   2 non-null       object
 11  Unnamed: 11   2 non-null       object
 12  Unnamed: 12   2 non-null       float64
dtypes: float64(1), int64(3), object(9)
memory usage: 40.1+ MB

In [12]:
df.nunique()

id              404351
qid1            399334
qid2            397941
question1       290469
question2       299206
is_duplicate       306
Unnamed: 6          29
Unnamed: 7           9
Unnamed: 8           4
Unnamed: 9           2
Unnamed: 10          1
Unnamed: 11          2
Unnamed: 12          1
dtype: int64

In [14]:
df['id'].unique()

array([     0,      1,      2, ..., 404348, 404349, 404350],
      shape=(404351,))

In [15]:
df.isnull().sum()

id                   0
qid1                 0
qid2                 0
question1            1
question2            2
is_duplicate         0
Unnamed: 6      404014
Unnamed: 7      404324
Unnamed: 8      404343
Unnamed: 9      404348
Unnamed: 10     404349
Unnamed: 11     404349
Unnamed: 12     404349
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404351 non-null  int64
 1   qid1          404351 non-null  int64
 2   qid2          404351 non-null  int64
 3   question1     404350 non-null  object
 4   question2     404349 non-null  object
 5   is_duplicate  404351 non-null  object
 6   Unnamed: 6    337 non-null     object
 7   Unnamed: 7    27 non-null      object
 8   Unnamed: 8    8 non-null       object
 9   Unnamed: 9    3 non-null       object
 10  Unnamed: 10   2 non-null       object
 11  Unnamed: 11   2 non-null       object
 12  Unnamed: 12   2 non-null       float64
dtypes: float64(1), int64(3), object(9)
memory usage: 40.1+ MB

In [17]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col].fillna(df[col].median(), inplace=True)
    elif df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace=True)
df.isnull().sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_5528\1878182613.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_5528\1878182613.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_5528\1878182613.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_5528\1878182613.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_5528\1878182613.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
Unnamed: 6      0
Unnamed: 7      0
Unnamed: 8      0
Unnamed: 9      0
Unnamed: 10     0
Unnamed: 11     0
Unnamed: 12     0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404351 non-null  int64
 1   qid1          404351 non-null  int64
 2   qid2          404351 non-null  int64
 3   question1     404351 non-null  object
 4   question2     404351 non-null  object
 5   is_duplicate  404351 non-null  object
 6   Unnamed: 6    404351 non-null  object
 7   Unnamed: 7    404351 non-null  object
 8   Unnamed: 8    404351 non-null  object
 9   Unnamed: 9    404351 non-null  object
 10  Unnamed: 10   404351 non-null  object
 11  Unnamed: 11   404351 non-null  object
 12  Unnamed: 12   404351 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 40.1+ MB

In [21]:
data = pd.DataFrame({'qid1':df['qid1'].unique()})
data_LE = LabelEncoder()
data_LE.fit(np.ravel(data)) 
df['qid1'] = data_LE.transform(df['qid1'])
print(data)

          qid1
0            1
1            3
2            5
3            7
4            9
...        ...
399329  789792
399330  789794
399331  789796
399332  789798
399333  789800

[399334 rows x 1 columns]

In [23]:
from sklearn.preprocessing import LabelEncoder

def convertObjToInt(cols):
    for col in cols:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))

columns = ['id', 'qid1', 'qid2']  
convertObjToInt(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404351 non-null  int64
 1   qid1          404351 non-null  int64
 2   qid2          404351 non-null  int64
 3   question1     404351 non-null  object
 4   question2     404351 non-null  object
 5   is_duplicate  404351 non-null  object
 6   Unnamed: 6    404351 non-null  object
 7   Unnamed: 7    404351 non-null  object
 8   Unnamed: 8    404351 non-null  object
 9   Unnamed: 9    404351 non-null  object
 10  Unnamed: 10   404351 non-null  object
 11  Unnamed: 11   404351 non-null  object
 12  Unnamed: 12   404351 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 40.1+ MB

In [25]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,0,56487,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
1,1,1,168789,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
2,111112,111112,280502,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
3,222223,222223,386627,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
4,333334,332668,0,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0

In [26]:
df.to_csv('processed_data.csv', index=False, header=True)

In [27]:
df = pd.read_csv('processed_data.csv')
df

C:\Users\HP\AppData\Local\Temp\ipykernel_5528\992150307.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('processed_data.csv')

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,0,56487,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
1,1,1,168789,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
2,111112,111112,280502,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
3,222223,222223,386627,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
4,333334,332668,0,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,0,0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404346,338166,332590,386046,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0,0,0.0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
404347,338167,332592,386047,Do you believe there is life after death?,Is it true that there is life after death?,1,0,0.0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
404348,338168,332593,386048,What is one coin?,What's this coin?,0,0,0.0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
404349,338169,332594,386049,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0,0,0.0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0
404350,338171,332595,386051,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0,0,0.0,0.0,\,-4[/math] ?,What is the value of square root 2?,0.0

In [28]:
df = pd.read_csv('processed_data.csv')
df.info()
df.columns

C:\Users\HP\AppData\Local\Temp\ipykernel_5528\61909888.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('processed_data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404351 non-null  int64
 1   qid1          404351 non-null  int64
 2   qid2          404351 non-null  int64
 3   question1     404351 non-null  object
 4   question2     404351 non-null  object
 5   is_duplicate  404351 non-null  object
 6   Unnamed: 6    404351 non-null  object
 7   Unnamed: 7    404351 non-null  object
 8   Unnamed: 8    404351 non-null  object
 9   Unnamed: 9    404351 non-null  object
 10  Unnamed: 10   404351 non-null  object
 11  Unnamed: 11   404351 non-null  object
 12  Unnamed: 12   404351 non-null  float64
dtypes: float64(1), int64(3), object(9)
memory usage: 40.1+ MB

Index(['id', 'qid1', 'qid2', 'question1', 'question2', 'is_duplicate',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [31]:
X = df.drop('is_duplicate', axis=1)   
y = df['is_duplicate']

In [32]:
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [33]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(283045, 12) (283045,)
(121306, 12) (121306,)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack 
import pickle

df = pd.read_csv("q_quora.csv")

unnecessary_cols = ['Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
df = df.drop(columns=[col for col in unnecessary_cols if col in df.columns])
df['question1'] = df['question1'].fillna('')
df['question2'] = df['question2'].fillna('')
tfidf = TfidfVectorizer(max_features=10000)
q1_vec = tfidf.fit_transform(df['question1'])
q2_vec = tfidf.transform(df['question2'])

X = hstack([q1_vec, q2_vec])
y = df['is_duplicate'] 
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, shuffle=False)

model_svc = SVC()
model_svc.fit(train_X, train_y)
print("\nSVC Model successfully trained:")
print(model_svc)

with open('svc_model.pkl', 'wb') as file:
    pickle.dump(model_svc, file)
print("Model 'svc_model.pkl' mein save kar liya gaya hai.")

C:\Users\HP\AppData\Local\Temp\ipykernel_3276\3935107176.py:8: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("q_quora.csv")

In [ ]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")